input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @apply transition-[background-color] duration-[9999s] ease-[ease-in-out] delay-[0s];
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  @apply bg-transparent;
}

input:-webkit-autofill {
  @apply bg-clip-text;
}

.dark input:-webkit-autofill {
  -webkit-text-fill-color:white;
}
