.input-text {
  @apply w-full text-sm text-secondary dark:text-dark-romance text-tremor-content-title py-1 mb-6 rounded-none ring-0 border-0 border-b border-gray-300 focus:border-tremor-brand-subtle focus:outline-none hover:bg-transparent dark:bg-transparent dark:hover:bg-transparent dark:border-white dark:text-white dark:focus:border-tremor-brand-subtle;
}

.dark .ql-picker-options {
  @apply bg-dark-tremor-background;
}

.product-availability .tremor-ProgressBar-progressBarWrapper {
  @apply rounded-[0.125rem] h-1.5;
}

.product-availability .tremor-ProgressBar-progressBar {
  @apply rounded-[0.125rem];
}
