@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* input */
  .input-primary {
    @apply block w-full p-3 text-sm text-tremor-content-title bg-transparent rounded-tremor-small outline outline-1 focus:outline-2 focus:outline-offset-[-1px];
  }
  .input-primary-with-error {
    @apply outline-red-600 focus:outline-red-600;
  }
  .input-primary-without-error {
    @apply outline-tremor-outline focus:outline-tremor-brand-subtle;
  }
  .input-secondary {
    @apply block w-full p-3 text-sm text-tremor-content-title bg-transparent;
  }
  .input-secondary-with-error {
    @apply text-tremor-content-emphasis border-0 border-b focus:border-b-2 border-red-600 focus:outline-none focus:border-red-600;
  }
  .input-secondary-without-error {
    @apply border-0 border-b focus:border-b-2 border-gray-300 focus:border-b-2 focus:outline-none focus:border-tremor-brand-subtle;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply transition-[background-color] duration-[9999s] ease-[ease-in-out] delay-[0s];
  }
  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover,
  .dark input:-webkit-autofill:focus,
  .dark input:-webkit-autofill:active {
    @apply bg-transparent;
  }
  input:-webkit-autofill {
    @apply bg-clip-text;
  }
  .dark input:-webkit-autofill {
    -webkit-text-fill-color:white;
  }

  /* label */
  .label-primary {
    @apply peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:px-2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:-translate-y-4 absolute text-sm duration-300 transform scale-75 origin-[0] -translate-y-4 top-2 z-10 bg-white px-2 start-1;
  }
  .label-secondary {
    @apply peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:start-0 peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto absolute text-sm duration-300 transform scale-75 origin-[0] -translate-y-6 top-3 -z-10;
  }
  .label-without-error {
    @apply text-tremor-content peer-focus:text-tremor-content-title;
  }
  .label-with-error {
    @apply text-red-600 peer-focus:text-red-600;
  }
  .line-track {
    @apply h-[calc(100%-2.25rem)];
  }
  .line-content {
    @apply content-[''];
  }

  /* Pagination */
  .btn-paginate {
    @apply text-sm text-gray-400 w-9 h-9 inline-flex justify-center items-center rounded-full border border-gray-300 hover:bg-gray-200;
  }

  .btn-paginate-active {
    @apply text-sm w-9 h-9 inline-flex justify-center items-center rounded-full bg-black text-white dark:bg-primary shadow-sm shadow-white;
  }

  /* Stepper */
  .stepper-dark-bg {
    @apply bg-gradient-to-b from-[#323a54] to-[#1a2035];
  }

  .stepper-text-content {
    @apply text-xs text-center uppercase px-1.5;
  }

  .stepper-dot {
    @apply shrink-0 w-3 h-3 bg-zinc-400 rounded-full;
  }

  .stepper-dot-active {
    @apply shrink-0 w-4 h-4 bg-white rounded-full;
  }

  /* New Product Form */
  .new-product-stepper {
    @apply absolute -translate-y-10 z-10 w-[calc(100%-32px)];
  }

  .product-info-input {
    @apply w-full bg-transparent py-1 border-b text-sm dark:text-white outline-0 focus:outline;
  }

  .btn-form-primary {
    @apply py-2.5 px-6 bg-black dark:bg-[#485976] text-white font-medium text-sm rounded-md cursor-pointer disabled:opacity-50 disabled:cursor-wait;
  }

  .btn-form-secondary {
    @apply py-2.5 px-6 bg-[#ebeff4] text-black font-medium text-sm rounded-md cursor-pointer disabled:opacity-50 disabled:cursor-wait;
  }

  /* Transaction */
  .transaction-list-heading {
    @apply font-semibold text-xs text-[#7b809a] my-6;
  }

  /* Loading Indicator */
  .light-loading-indicator {
    @apply flex justify-center items-center fixed bg-[rgba(0,0,0,0.1)] overflow-hidden w-full h-full inset-0 z-50 cursor-not-allowed;
  }

  .switch button {
    @apply opacity-100;
  }

  .switch input {
    @apply hidden;
  }

  button.shadow-tremor-input {
    @apply shadow-btn-primary;
  }

  button.shadow-tremor-input:hover {
    @apply shadow-btn-primary-hover;
  }

  button.shadow-tremor-input.box-shadow-transparent,
  button.shadow-tremor-input.box-shadow-transparent:hover {
    @apply shadow-transparent;
  }
}
