
.checkbox-layout::before {
  @apply absolute content-[""] h-1 w-1 z-[1] opacity-0 m-0 rounded-[100%] left-2 top-0.5;
  transform: scale3d(2.3, 2.3, 1);
}

input[type="checkbox"]:checked + .checkbox-layout .check {
  opacity: 1;
}

.check:before {
  @apply absolute content-[""] rotate-45 block mt-[-3px] w-0 h-0 shadow-[0_0_0_0,0_0_0_0,0_0_0_0,0_0_0_0,0_0_0_0,0_0_0_0,0_0_0_0_inset] ml-[7px];
  animation: checkbox-off 0.3s forwards ease-out;
}

input[type="checkbox"]:focus + .checkbox-layout .check:after {
  opacity: 0.2;
}

input[type="checkbox"]:checked + .checkbox-layout .check:before {
  @apply shadow-[0_0_0_10px,10px_-10px_0_10px,32px_0px_0_20px,0px_32px_0_20px,-5px_5px_0_10px,20px_-12px_0_11px];
  animation: checkbox-on 0.3s forwards ease-out;
}

input[type="checkbox"]:not(:checked) + .checkbox-layout:before {
  animation: rippleOff 700ms forwards ease-out;
}

input[type="checkbox"]:checked + .checkbox-layout:before {
  animation: rippleOn 700ms forwards ease-out;
}

input[type="checkbox"]:not(:checked) + .checkbox-layout .check:after {
  animation: rippleOff 700ms forwards ease-out;
}

input[type="checkbox"]:checked + .checkbox-layout .check:after {
  animation: rippleOn 700ms forwards ease-out;
}

input[type="checkbox"][disabled]:not(:checked) ~ .checkbox-layout .check:before,
input[type="checkbox"][disabled] + .circle {
  opacity: 0.5;
}

input[type="checkbox"][disabled] + .checkbox-layout .check:after {
  background-color: gray;
  transform: rotate(-45deg);
}

input[type="checkbox"][disabled] + .checkbox-layout {
  cursor: not-allowed;
}

.checkbox-layout .check {
  color: #344767;
}

.checkbox-layout::before {
  background-color: #344767;
}

input[type="checkbox"]:checked + .checkbox-layout .check {
  color: #344767;
}

input[type="checkbox"]:not(:checked) + .checkbox-layout {
  color: #344767;
}

@keyframes checkbox-on {
  0% {
    @apply shadow-[0_0_0_10px,10px_-10px_0_10px,32px_0px_0_20px,0px_32px_0_20px,-5px_5px_0_10px,15px_2px_0_11px];
  }
  50% {
    @apply shadow-[0_0_0_10px,10px_-10px_0_10px,32px_0px_0_20px,0px_32px_0_20px,-5px_5px_0_10px,20px_2px_0_11px];
  }
  100% {
    @apply shadow-[0_0_0_10px,10px_-10px_0_10px,32px_0px_0_20px,0px_32px_0_20px,-5px_5px_0_10px,20px_-12px_0_11px];
  }
}

@keyframes checkbox-off {
  0% {
    @apply shadow-[0_0_0_10px,10px_-10px_0_10px,32px_0px_0_20px,0px_32px_0_20px,-5px_5px_0_10px,20px_-12px_0_11px,0_0_0_0_inset];
  }
  25% {
    @apply shadow-[0_0_0_10px,10px_-10px_0_10px,32px_0px_0_20px,0px_32px_0_20px,-5px_5px_0_10px,20px_-12px_0_11px,0_0_0_0_inset];
  }
  50% {
    @apply rotate-45 w-0 h-0 shadow-[0_0_0_10px,10px_-10px_0_10px,32px_0px_0_20px,0px_32px_0_20px,-5px_5px_0_10px,15px_2px_0_11px,0_0_0_0_inset] ml-1.5 -mt-1;
  }
  51% {
    @apply rotate-0 w-5 h-5 shadow-[0_0_0_0,0_0_0_0,0_0_0_0,0_0_0_0,0_0_0_0,0_0_0_0,0px_0px_0_10px_inset] -ml-0.5 -mt-0.5;
  }
  100% {
    @apply rotate-0 w-5 h-5 shadow-[0_0_0_0,0_0_0_0,0_0_0_0,0_0_0_0,0_0_0_0,0_0_0_0,0px_0px_0_0px_inset] -ml-0.5 -mt-0.5;
  }
}

@keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}

@keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}
